<section class="border-b border-zinc-800 py-4 pb-5">
    <h2 class="text-[#999995] font-semibold text-sm mb-3">Tech Stack</h2>
    <span class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm mr-2">JavaScript</span>
    <span class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm mr-2">JavaScript</span>
    <span class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm">JavaScript</span>
    <span class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm mr-2">JavaScript</span>
    <span class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm mr-2">JavaScript</span>
    <span class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm">JavaScript</span>
</section>