<section class="border-b border-zinc-800 py-4">
    <h1 class="text-[#ffffff] text-3xl font-bold">Tristan Vidal</h1>
    <p>I'm a front-end developer</p>
    <div class="text-sm grid grid-cols-9 text-[#89888a]">
        <span>Location</span>
        <span>years</span>
        <span>Freelance</span>
    </div>
</section>