---
import Angular from "./Logos/Angular.astro";
import React from "./Logos/React.astro";
import TypeScript from "./Logos/TypeScript.astro";

---

<section class="border-b border-zinc-800 py-4">
    <h2 class="text-[#999995] font-semibold text-sm mb-2">Experience</h2>
    <div class="grid grid-cols-9 gap-x-1 pb-6">
        <div class="scale-[.2] h-4 w-0">
            <React />
        </div>
        <div class="col-span-8">
            <h3 class="text-[#d4d4d4] font-semibold">Developer</h3>
            <p class="pb-3 text-[#89888a]">Jan 2021 - Present</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p class="text-[#4595d0] font-bold my-2">See more</p>
        </div>
    </div>
    <div class="grid grid-cols-9 gap-x-1">
        <div class="scale-[.2] h-4 w-0">
            <TypeScript />
        </div>
        <div class="col-span-8">
            <h3 class="text-[#d4d4d4] font-semibold">Developer</h3>
            <p class="pb-3 text-[#89888a]">Aug 2021 - Present</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p class="text-[#4595d0] font-bold my-2">See more</p>
        </div>
    </div>
</section>