---
import GitHub from "./Logos/GitHub.astro";

---

<section class="border-b border-zinc-800 py-4 pb-5">
    <h2 class="text-[#999995] font-semibold text-sm mb-3">Contact</h2>
    <div class="flex">
        <div class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm mr-2 flex w-[85px]">
            <GitHub />
            <span class="ml-2">Github</span>
        </div>
        <div class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm mr-2 flex w-[85px]">
            <GitHub />
            <span class="ml-2">Github</span>
        </div>
        <div class="bg-[#2c2c2c] rounded px-2 py-1 text-[#d4d2c2] font-semibold text-sm flex w-[85px]">
            <GitHub />
            <span class="ml-2">GitHub</span>
        </div>
    </div>
</section>